<div class="container">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="Orders" class="mat-elevation-z8">

                <!-- Tracking ID Column -->
                <ng-container matColumnDef="trackingId">
                    <th mat-header-cell *matHeaderCellDef> Tracking ID </th>
                    <td mat-cell *matCellDef="let order"> {{ order.trackingId }} </td>
                </ng-container>

                <!-- User Name Column -->
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let order"> {{ order.userName }} </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let order" class="bold-cell"> {{ order.amount }} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let order"> {{ order.orderDescription }} </td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let order" class="bold-cell"> {{ order.address }} </td>
                </ng-container>

                <!-- Header Row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Data Rows -->
                <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
